@import "tipografia";

/* variables-colores */
$black:rgb(0,0,0);
$orange:rgb(235, 139, 36);
$gray:rgb(226, 226, 226);
$graybis:rgb(89, 88, 88);


.footer {
	background-color: $graybis;
}

.text{
	background:linear-gradient(to right, rgb(218, 131, 17), rgb(201, 201, 201));
	&_ppal{
		color:$graybis!important;
	}
	&_parrafo{
		&-color{
		color:$gray;
	@media only screen and (max-width:768px){
		color:$black;
		}
		}
	}
}