@import "colores";

/*variables-contenido*/
$centrar:center;
$h1Desktop:50px;
$h1Mobile:25px;
$h2Desktop:26px;
$h2Mobile:20px;
$p1Desktop:15px;
$p1Mobile:15px;


.correct-padding {
	padding-left: 1%;
	padding-right: 1%;
}


.title{
	text-align:$centrar;
	padding:30px 0;
	&_ppal{
		@media only screen and (max-width: 768px){
			font: {
				size:$h1Mobile;
				weight:bold;
			}	
		}
		@media only screen and (min-width: 1024px){
			font: {
				size:$h1Desktop;
				weight:bold;
			}
			
		}
		&-color{
			color:$orange;
		}		
	}
}

.text{
	&_ppal{
		@media only screen and (max-width:768px){
			font: {
				size:$h2Mobile!important;
			}
			}
			@media only screen and (min-width: 1024px){
			font: {
				size:$h2Desktop!important;
				}
				
		}
	}
	&_parrafo{
	@media only screen and (max-width:768px){
		font: {
			size:$p1Mobile!important;
		}
		}
		@media only screen and (min-width: 1024px){
		font: {
			size:$p1Desktop!important;
			}
			
		}
}
}