$pDesktop:20px;
$fontFamily: 'Open Sans', sans-serif;
$space: 5px;


body {
	font-family: $fontFamily;
	
}
.col-lg-6{
	p{
	font: {
		size:$pDesktop;
		family:$fontFamily;
		weight:bold;
		}
	}

}
/*operations*/
.nav-link {
	font-weight: bold;
	padding-right: ($space * 2);
}

.text {
	&_ppal{
		font-weight: lighter;
		font-size: xx-large;
		text-align: center;
		margin-top: 10px;
	}
	&_parrafo{
		font-size:20px!important;
		font-weight: lighter!important;
		text-align:justify;
		padding-left: 10%;
		padding-right: 10%;
	}
}

.footer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.ubication {
	&_text{
		font-weight: lighter;
		font-size: xx-large;
		text-align: center;
		margin-top: 10px;
	}
	&_parrafo{
		font-size:20px!important;
		font-weight: lighter!important;
		text-align:justify;
		padding-left: 10%;
		padding-right: 10%;
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

