$pDesktop:20px;
$fontFamily: 'Open Sans', sans-serif;


.col-lg-6{
	p{
	font: {
		size:$pDesktop;
		family:$fontFamily;
		weight:bold;
		}
	}

}

.nav-link {
	font-weight: bold;
	padding-right: 10px;
}

.text {
	&_ppal{
		font-weight: lighter;
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-size: xx-large;
		text-align: center;
		margin-top: 10px;
	}
	&_parrafo{
		font-size:20px!important;
		font-weight: lighter!important;
		text-align:justify;
		padding-left: 10%;
		padding-right: 10%;
	}
}

.footer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}
